body {
  margin: 0;
  font-family: sans-serif;
  background-color: #0a0a0a;
  color: #ffffff;
}

.intro {
  max-width: 800px;
}

.navigation-links {
  padding: 10px;
}

.navigation-links a {
  color: #ffffff;
  text-decoration: none;
}

.content {
  margin: 100px auto;
  max-width: 800px;
}

.profile-image {
  border-radius: 20px;
}
